html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  position: absolute;
  width: 1440px;
  height: 504px;
  left: 0px;
  top: 0px;
  background: #f1f3ff;
}

.navbar {
  position: absolute;
  width: 1168px;
  height: 36px;
  left: 136px;
  top: 24px;
}

.logo {
  width: 100px;
  height: 34px;
  position: absolute;
  top: 1px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 440px;
  height: 36px;
  position: absolute;
  left: 728px;
}

.service {
  width: 97px;
  height: 20px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 8px;
}

.why {
  width: 65px;
  height: 20px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  flex: none;
  order: 1;
  flex-grow: 0;
  top: 8px;
  left: 113px;
}

.testimon {
  width: 71px;
  height: 20px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  flex: none;
  order: 2;
  flex-grow: 0;
  top: 8px;
  left: 195px;
}

.faq {
  width: 29px;
  height: 20px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  flex: none;
  order: 3;
  flex-grow: 0;
  top: 8px;
  left: 298px;
}

.regis {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 81px;
  height: 36px;
  background: #5cb85f !important;
  border: 1px solid #5cb85f !important;
  border-radius: 2px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff !important;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin-top: 10px;
  left: 359px;
}

.sale {
  position: absolute;
  width: 568px;
  height: 108px;
  left: 136px;
  top: 177px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.come {
  position: absolute;
  width: 468px;
  height: 60px;
  left: 136px;
  top: 301px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.begin {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 142px;
  height: 36px;
  background: #5cb85f !important;
  border: 1px solid #5cb85f !important;
  border-radius: 2px;
  position: absolute;
  top: 377px;
  left: 136px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff !important;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.car {
  position: absolute;
  width: 704px;
  height: 407px;
  left: 736px;
  top: 97px;
}

.type {
  position: absolute;
  width: 1047px;
  height: 106px;
  left: 196px;
  top: 458px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 999px;
  height: 58px;
  left: 24px;
  top: 24px;
}

@font-face {
  font-family: 'kepo';
  src: url('/fonts/Rubik-Light.ttf');
}

.driver {
  font-family: 'kepo';
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: stretch;
}

.date-driver {
  height: 36px;
  border-radius: 2px;
}

.foter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 86px;
  position: absolute;
  width: 1141px;
  height: 128px;
  left: 173px;
  top: 672px;
}

.search-car {
  background: #5cb85f !important;
  border-radius: 2px;
  color: #ffffff !important;
  border-color: #5cb85f !important;
  width: 92px;
  height: 36px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}

.our-services {
  position: absolute;
  top: 604px;
  left: 206px;
  width: 1027px;
  height: 428px;
}

.chart {
  position: absolute;
  left: 410px;
}